.container {
  width: 900px;
  min-height: 800px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 3px red;
  border: 5px solid red;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container h2 {
  color: red;
  font: var(--Monseratt-Bold-80);

  margin-bottom: 30px;
}
